<div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>
    <%= form_with model:@user, local:true do |f| %>
      <%= render 'books/error', model: @user %>
      <div class="form-group">
        <div class="form-title">Name</div>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">
        <div class="form-title">Image</div>
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="form-group">
        <div class="form-title">Introduction</div>
        <%= f.text_area :introduction %>
      </div>
      <div>
        <%= f.submit "Update User", class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>